# Manage settings of project
python-dotenv==0.15.0

# Browser control frameworks
splinter==0.14.0
selenium==3.141.0

# Parsing library
beautifulsoup4==4.9.3
lxml==4.6.2

# Flask framework
Flask==1.1.2

# Databases
flask-sqlalchemy==2.4.4
psycopg2-binary==2.8.6

# service
black==20.8b1